
:root {
  --primary-color:#153066;
  --secondary-color:#D92938;  
  --accent-color:#FBC50B;
  --dark-accent-color:#010626;
  --light-accent-color:#3264A6;

  --text-color:#333333;
  --light-text-color:#ffffff;

}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  font-size: 1.2rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  
}

/* Style header block & navigation */
.header {
  background-color: var(--primary-color);
  padding:10px 0px;
  border-bottom:var(--secondary-color) solid 4px;
}

.header__nav {
  display:flex;
  max-width:1200px;
  margin:0 auto;
  box-sizing:border-box;
}

.header__logo {
  margin:10px auto 10px 50px;
}

.header__link {
  font-size:1.25rem;
  color: var(--light-text-color);
  margin:35px 0px 0px 35px;
  text-decoration:none;
  /* add animation to header */
  position:relative;
  transition: color .3s linear;
}

.header__link:last-of-type {
  margin-right:40px;
}

/* Animation for Links in the Header */
.header__link::after {
  border-bottom: .15em solid  var(--secondary-color);
  content: "";
  position: absolute;
  right: 100%;
  bottom: 1.75em;
  border-radius:5%;
  left:0;
  transition: right .3s cubic-bezier(0,.5,0,1);
}

.header__link:hover {
  text-decoration:none;
  color: var(--accent-color); 
}

.header__link:hover::after {
  border-color:var(--secondary-color); 
  animation: movingBorder 1.25s cubic-bezier(0,.5,0,1) infinite;
}

@keyframes movingBorder {
  0%, 10% {
    left:0;
    right:100%;
  }
  40% , 60% {
    left:0;
    right:0;

  }
  90%, 100%{
    left:100%;
    right:0;
  }
}

/* Hero Styles */
.heroSection{
  height:400px;
  width: 100hw;
  background-image: url(images/seinfeld-livingroom.jpg);
  background-size: cover;
  background-position:center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-bottom:var(--secondary-color) solid 4px;
}

.heroSection__text {
  font-size: 2.5rem;
  font-weight: 700;
  background-color: rgba(0,0,0,0.65);
  color:white;
  text-shadow: #333 2px 2px 2px;
  padding: 30px 20px;
  margin: 0;
  border-radius:15px;
}

.heroSection__btn {
  background-color: var(--primary-color);
  border: none;
  font-weight:bold;
  font-size:1rem;
  color:white;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.heroSection__btnLink {
  text-decoration:none;
  color:white;
}

.heroSection__btn:hover {
  animation:btnChange 2s reverse;
}

/* Animation for hero button */
@keyframes btnChange {

  0% {
      background-color: var(--accent-color);
      color:var(--secondary-color);
  }

  50% {
      background-color: var(--secondary-color);
      color:var(--secondary-color);
  }
  
  100% {
      background-color: var(--accent-color);
      color:var(--secondary-color);
  }
  
}

/* Article Styles */
.article {
  padding: 15px 75px;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px var(--gray);
  background-color: var(--white);
}

.article__container {
  display: flex;
  flex-flow: row wrap;
}

.article__header--homepageh1 {
  border-left: var(--secondary-color) 10px solid;
  text-indent:20px;
  padding:10px;
  background-color: var(--accent-color);
}

.article__header--h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size:2rem;
  color:var(--primary-color);       
}

.article__header--h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size:1.5rem;
  font-style: italic;
  color:var(--secondary-color);
}

.article__link {
  color:var(--light-accent-color);
  text-decoration:none;
  font-weight:bold;
}
.article__link:hover {
  background-color:var(--dark-accent-color);
  color:var(--light-text-color);
}

.article__list {
  list-style-type: square; 
}

.article__list__item {
  margin-bottom:10px;
}

.article__image--floatRight{
  float:right;
}

.article__card {
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 20px;
  margin: 5px;
  justify-content: space-between;
  text-align: center;
  min-width: 200px;
  flex-grow: 1;
  align-content: space-between;
  border-radius:10px;
  cursor: pointer;
}

.article__card:hover {
  background-color: lightgray;
  color:white;

}

.article__card_link {
  text-decoration: none;
  color:var(--primary-color);
  font-weight:bold;
  display:block;
}

/* Footer Styles */
.footer {
  margin-top: auto;
  background-color: var(--primary-color);
  border-top:var(--secondary-color) solid 4px;
  text-align: center;
  padding: 5px 0;
  color: var(--light-text-color);
}

/* ========================================================================
                      Tablet & Mobile Responsive Styles
==========================================================================*/
@media screen and (max-width:768px) {

body {
  font-size: 1rem;
}

.header {
  padding:10px 0;
}

.header__nav {
  display:block;
  margin:10px auto;
}

.header__logo {
  margin:10px auto;
  display:block;
  text-align:center;
}

.header__link:last-of-type {
  margin:0px;
}

/* Remove Animation for Links in the Header for mobile view */
.header__link:hover::after {
  animation: none;
}

.header__link {
  font-size: 1.25rem;
  color: var(--light-text-color);
  margin:15px 0px;
  padding:2px;
  display:block;
  text-align:center;
}

.header__link:hover {
  background-color:var(--secondary-color);
  color:var(--light-text-color);
  padding:2px;
}

.heroSection__text{
  font-size:2rem;
}

.article__header--homepageh1 {
  text-indent:0px;
}

.article__header--h1 {
  font-size:1.75rem;
  text-align: center;    
}

.article__image--floatRight{
  float:none;
  display:block;
  margin:0 auto;
}

}




/* ========================================================================
                      Tablet & Mobile Responsive Styles
==========================================================================*/
@media screen and (max-width:768px) {

  body {
    font-size: 1rem;
  }
  
  .header {
    padding:10px 0;
  }
  
  .header__nav {
    display:block;
    margin:10px auto;
  }
  
  .header__logo {
    margin:10px auto;
    display:block;
    text-align:center;
  }
  
  .header__link:last-of-type {
    margin:0px;
  }
  
  /* Remove Animation for Links in the Header for mobile view */
  .header__link:hover::after {
    animation: none;
  }
  
  .header__link {
    font-size: 1.25rem;
    color: var(--light-text-color);
    margin:15px 0px;
    padding:2px;
    display:block;
    text-align:center;
  }
  
  .header__link:hover {
    background-color:var(--secondary-color);
    color:var(--light-text-color);
    padding:2px;
  }
  
  .heroSection__text{
    font-size:2rem;
  }
  
  .article__header--homepageh1 {
    text-indent:0px;
  }
  
  .article__header--h1 {
    font-size:1.75rem;
    text-align: center;    
  }
  
  .article__image--floatRight{
    float:none;
    display:block;
    margin:0 auto;
  }
  
  }
  
  
  
  /* ========================================================================
                        Tablet  Responsive Styles
  ==========================================================================*/
  @media screen and (max-width:550px) {
  
    body {
      font-size: 1rem;
    }
    
    .header {
      padding:10px 0;
    }
    
    .header__nav {
      display:block;
      margin:10px auto;
    }
    
    .header__logo {
      margin:10px auto;
      display:block;
      text-align:center;
    }
    
    .header__link:last-of-type {
      margin:0px;
    }
    
    /* Remove Animation for Links in the Header for mobile view */
    .header__link:hover::after {
      animation: none;
    }
    
    .header__link {
      font-size: 1.25rem;
      color: var(--light-text-color);
      margin:15px 0px;
      padding:2px;
      display:block;
      text-align:center;
    }
    
    .header__link:hover {
      background-color:var(--secondary-color);
      color:var(--light-text-color);
      padding:2px;
    }
    
    .heroSection__text{
      font-size:2rem;
    }
    
    .article {
     padding:10px 30px;
    }
  
    .article__header--homepageh1 {
      text-indent:0px;
    }
    
    .article__header--h1 {
      font-size:1.75rem;
      text-align: center;    
    }
    
    .article__image--floatRight{
      float:none;
      display:block;
      margin:0 auto;
      width:75%;
      height:75%;
    }
    
    }
  
    /* ========================================================================
                        Small Mobile Responsive Styles
  ==========================================================================*/
  @media screen and (max-width:400px) {
    .article {
      padding:15px 20px;
     }
  
    .article__image--floatRight {
      width:60%;
      height:60%;
     }
  }