/*universal selector */
* {
    box-sizing: border-box;
}

/*font size set here */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #990000; /*sets page background to red */
    overflow-x: hidden;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

 /* make footer stick to bottom */
 .footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
     background-color: #990000;  
     color: #fff;
     padding: 1rem;
   }

 /* page background image */
.wrapper::before {
    content: "";
    position: absolute;
    top: 90px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("images/background.jpg");
    background-size: cover;
    opacity: 0.2;
} 

main{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;   
}

nav.nav{
    padding-left: 40px;
    padding-right: 40px;
}

ul.nav.flexContainer.flexEnd{
    background: #132020;
    color: #fff;
}

/*styling for nav*/ 
nav.nav{
    border: 1px dotted #fff;
    list-style:none;
}

/* navigation link styling */
nav.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: white;
}

/* container for nav*/
.flexContainer {
    display: flex;
}

/*styles sacing for nav links*/
.flexEnd{
    justify-content:space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* container for character headshots & title */
.container {
    display: flex;
    flex-flow: row wrap;
}

article {
padding-bottom: 25px;
}

/* container for character headshots */
.container > * {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px solid #fff;
    padding: 20px;
    margin: 5px;
    justify-content: space-between;
    text-align: center;
    min-width: 250px;
    flex-grow: 1;
    align-content: space-between;
    text-decoration: none;
}

/* container for character headshots - hover */
.container > *:hover {
    background-color: rgba(255, 255, 255, 0.44);
}

div.card-body {
padding-top: 15px;
}

nav.nav a {
  text-align: center;
}

/*centers h1, h2 and h3 text */
h1, h2, h3, small {
    text-align: center;
}

/*choose a character text */
.text-center {
    text-align: center;
}

small{
    background-color: #990000;  
}

/* shift images down */
img {
	position:relative;
	top: 10px;
}

nav.nav {
  /*  background: rgba(255, 255, 255, 0.24); */
    margin-left: 40px;
    margin-right: 40px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul.nav_menu
   {
    list-style-type: none;
  }
  .logo {
    font-size: 20px;
  }
  .item {
    padding: 10px;
    padding-top: 15px;
  }

  .item:not(.button) a:hover,
  .item a:hover::after {
    color: #ccc;
  }
  /* Mobile menu */
  ul.nav_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  ul.nav_menu li a {
    display: block;
  }

  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }

  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
  
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
  }
